<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-cs-12">
                <app-backend-error-messages [backendErrors]="errors"*ngIf="errors"></app-backend-error-messages>
                <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
                    <fieldset>
                        <fieldset class="form-group">
                            <label>Article title</label>
                            <input type="text" class="form-control"  formControlName="title" >
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" formControlName="description">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Article content</label>
                            <textarea class="form-control" rows="8" formControlName="body">
                            </textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Enter tags</label>
                            <input type="text" class="form-control" formControlName="tagList">
                        </fieldset>
                        <fieldset>
                            <button type="submit" [disabled]="articleForm.invalid || isSubmittng" class="btn pull-xs-right btn-primary">
                                Publish article
                            </button>
                        </fieldset>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
