<div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
            <a [routerLink]="['/feed']" class="nav-link" routerLinkActive="active">My Blogs</a>
        </li>
         <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Global Blogs</a>
        </li>
         <li class="nav-item" *ngIf="tagsName">
            <a [routerLink]="['/tags',tagsName]" class="nav-link" routerLinkActive="active">
                <i class="ion-pound"></i>{{tagsName}}
            </a>
        </li>
    </ul>
</div>
